l/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'menlo','monaco','open sans';
	vertical-align: baseline;
}


:root {
    font-family: 'menlo','monaco','open sans'
}



html {
    margin: none;
}

body {
    background-color: #1f1f1f;
    background-image: url('background-image.svg');
    background-position: center;
    background-repeat: repeat;
    margin: .5;
    line-height: 1.35;
    font-family: 'menlo', 'monaco', 'open sans';
    font-size: 15pt;
    overflow-y: scroll;
}

header, main, footer {
    color: #ffffff;
    max-width: 40em;
    margin: 10px auto;
    border: 2px solid #1f1f1f;
    background-color: #3d3d3d;
    box-shadow: #000 10px, 10px;

}

h1, h2, h3, p, .iframe-wrapper {
    margin: 1em 1em;
}

h2, h3 {
    font-size: 1.2em;
}

ul {
    margin-left: 2em;
}

li {
    margin: .5em 1em;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
    color: #0080ff;
    trasition: transform .5 ease-in-out
}

.link {
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.link:hover {
    transform: scale(1.1);

}

a:visited {
    color: #0062c3;
}

:focus-visible {
    outline: none;
    text-decoration-skip-ink: all;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    outline: #789;
    outline-width: 4px;
    outline-style: solid;
    text-decoration: none;
    outline-offset: 2px;
    background-color: #fff;
    color: #000;
}

.fillbert {
    margin: 1em 1em;
    height: 10px;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center; /*align*/
	margin: 100px;
	color: #000
	transition: all .5s ease-in-out;
}

.buttonContainer:hover {
    transform: scale(1.4);
}
