body {
    background-color: rgb(37, 37, 37);
    font-family: monospace;
}

.counter {
    color: white;
    font-size: 2rem;
    margin: 1.2rem;
}

.quote {
    font-size: 1rem;
    color: rgb(184, 184, 184);
    margin: 1.2rem;
    font-style: italic;
}

.THEbutton {
    font-size: 1.4rem;
    margin: 1.2rem;
    height: 10rem;
    width: 10rem;
    transition: all 0.2s;
    border-radius: 10%;
    box-shadow: 10px 10px 5px black;
    background: rgb(190, 225, 255);
}

.THEbutton:hover {
    transform: scale(1.2)
}

.buy-upgrade {
    margin: 1.2rem;
    background: rgb(0, 255, 0);
    height: 3rem;
    width: 9rem;
    transition: all 0.2s;
}

.buy-upgrade:hover {
    transform: scale(1.2)
}

#upgrades {
    color: whitesmoke;
}


/* The alert message box */
.notifications-warning {
    padding: 1.1rem;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
    width: 20%;
    margin: 1.2rem;
  }

  .notifications-achievement {
    padding: 1.1rem;
    background-color: #0030cf; /* Red */
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
    width: 20%;
    margin: 1.2rem;
    font-weight: bold;
    font-size: 1rem;
  }

  .quote-achievement {
    font-size: .8rem;
    color: rgb(184, 184, 184);
    margin: 1.2rem;
    font-style: italic;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
    transform: scale(1.3)
  }

#version {
    color: rgb(56, 56, 56);
    font-size: 10px;
}

/* The sidepanel menu */
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .link-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    transition: transform 1s;
  }
  
  .link-back:hover {
    transform: scale(1.4);
  }